<SurfaceReconstruction>

<uniform>
	<particleSpacing> 1 </particleSpacing>
	<infectRadius> 2 </infectRadius>
	<padding> 2 </padding>
	<surfaceCellWidth> 0.5 </surfaceCellWidth>
	<normThreshold> 0.5 </normThreshold>
	<neighborThreshold> 25 </neighborThreshold>
	<isoValue> 0 </isoValue>
</uniform>

<small>
	<particleSpacing> 0.01 </particleSpacing>
	<infectRadius> 0.03 </infectRadius>
	<padding> 0.01 </padding>
	<surfaceCellWidth> 0.005 </surfaceCellWidth>
	<normThreshold> 0.5 </normThreshold>
	<neighborThreshold> 25 </neighborThreshold>
	<isoValue> -0.005 </isoValue>
	<color1> 255, 20, 0 </color1>
	<color2> 20,  255, 0 </color2>
	<color3> 0,0,255 </color3>
</small>

</SurfaceReconstruction>
