<SurfaceReconstruction>

<uniform>
	<particleSpacing> 1 </particleSpacing>
	<infectRadius> 2 </infectRadius>
	<padding> 2 </padding>
	<surfaceCellWidth> 0.5 </surfaceCellWidth>
	<normThreshold> 0.5 </normThreshold>
	<neighborThreshold> 25 </neighborThreshold>
	<isoValue> 0 </isoValue>
</uniform>

<small>
	<particleSpacing> 0.0075 </particleSpacing>
	<infectRadius> 0.015 </infectRadius>
	<padding> 0.01 </padding>
	<surfaceCellWidth> 0.0075 </surfaceCellWidth>
	<normThreshold> 0.5 </normThreshold>
	<neighborThreshold> 50 </neighborThreshold>
	<isoValue> -0.001 </isoValue>
  <!-->color1> 158, 108, 58 </color1>
	<color2> 20,  255, 0 </color2-->
  <color1>255,0,0</color1>
  <color2>0,255,0</color2>
	<color3> 0,0,255 </color3>
</small>

</SurfaceReconstruction>
